{% extends "navbar.html" %}
{% block title %} 活动信息 {% endblock %}
{% block content %}
<div class="container">
	<div class="row clearfix">
	{% if activities %}

	{% for activity in activities %}
		<div class="col-md-4 column">
			<div class="jumbotron well">
				<h2><b>
					<a href="{{activity.get_url}}" style="color:black;">{{ activity.title }}</a></b>
				</h2>
				<p>
					 开始时间：{{ activity.start_time|date:'Y-m-d' }}
				</p>
				<p>
					举办方: {{ activity.host }}
				</p>
				<span class="badge">参与人数: {{ activity.people_count }}</span>
				{% if activity.tags %}
					<span class="label label-success">{{ activity.tags }}</span>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	
	{% endif %}
	
	</div>
</div>
{% endblock %}
