{% extends "navbar.html" %}
{% block title %} 活动注册 {% endblock %}
{% block content_css %}
<script
  src="http://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
{{ form.media }}
{% endblock %}
{% block content %}
<body>
    <div class="row">
        <h3 class="well">活动注册</h3>
        <form method="post" enctype="multipart/form-data" action="{% url 'partymaster:activityCRUD' %}" >
                {% csrf_token %}
                {% include 'form_template.html' with form=form %}
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
    </div>
{{ feedback }}
<script type="text/javascript"> 
  $(function(){
    $(".dateinput").datepicker();
  });
</script>
</body>
{% endblock %}