{% extends "navbar.html" %}
{% block title %} 活动详情 {% endblock %}
{% block content %}
{% if activity %}
<div class="container-fluid" id="XS">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>
                『{{ activity.title }}』活动详情
                </h1>
                {% if out_of_date %}
                <span class="label label-default"><b>活动已经开始过了!!!</b></span>
                {% endif %}
            </div>

            <div class="hero-unit well">
                <ul>
                    <li>
                        开始时间：<b>{{ activity.start_time|date:'Y-m-d H:i' }}</b>
                    </li>
                    <li>
                        活动举办方：{{ activity.host }}
                    </li>
                    <li>
                        活动发布人：{{ activity.poster.first_name }} {{ activity.poster.last_name }}
                    </li>
                    <li>
                        <small>发布时间: {{ activity.post_time|date:'Y-m-d' }}</small>
                    </li>
                    <li>
                        标签：
                        {% if activity.tags %}
                            <span class="label label-info">{{ activity.tags }}</span>
                        {% endif %}
                    </li>

                </ul>
            </div>
            <div class="jumbotron">
                <h2>
                    活动说明:
                </h2>
                <p>
                    {{ activity.detail }}<br />
                </p>
            </div>
            {% if activity.img %}
            <div class="media well">
                <div class="media-body">
                    <p class="media-heading">
                        微信群二维码
                    </p>
                    <img width="150" height="150" src='{{ activity.img.url }}?{{ random_str }}' />
                </div>
            </div>
            {% endif %}
            {% if IsOwner %}
                <form class="clearfix" enctype="multipart/form-data" autocomplete="off" method="post" action="?t=1">
                        {% csrf_token %}
                        <label class="changearea" for="avatarUp">
                            <span class="fl upload-inp-box" style="margin-left:70px;">
                                <input type="file" name="image" id="avatarUp" class="js-img-up"/>
                            </span>
                        </label>
                        <button type="submit">选择并上传新的二维码</button>
                    </form>
            {% endif %} 
        </div>
    </div>
<div class="subscribe-post">
    {% if not IsOwner %}
        {% if request.user.is_authenticated %}
                <form method="post" action="?t=2">
                        {% csrf_token %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">我要订阅</button>
                        </div>
                </form>
        {% else %}
        <div id="subscribe-activity">
                <form method="post" action="">
                        {% csrf_token %}
                        {% include 'form_template.html' with form=form %}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">我要订阅</button>
                            </div>
                        </div>
                </form>
        </div>
        {% endif %}
    {% endif %}
</div>
</div>
{% endif %}
{% endblock %}