{% extends "navbar.html" %}
{% block title %} 口令验证 {% endblock %}
{% block content %}
<body>
    <div class="row">
        <h3 class="well">口令验证</h3>
        <form method="post" action="">
                {% csrf_token %}
                {% include 'form_template.html' with form=form %}
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>
                </div>
            </form>
    </div>
{{ feedback }}
</body>
{% endblock %}