{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- 百度统计 <<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>end-->
    {% block navbar_css %}{% endblock navbar_css %}
</head>
<body>
{% block navbar %}{% endblock navbar %}
<div class="container">
{% if msg_suc %}
    <div class="alert alert-dismissible alert-success text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg_suc| safe}}
      </div>
{% elif msg_info %}
    <div class="alert alert-dismissible alert-info text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg_info| safe}}
      </div>
{% elif msg_err %}
    <div class="alert alert-dismissible alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg_err| safe}}
      </div>
{% endif %}
{% block content %}

{% endblock %}
</div>
    <!-- footer start -->
    <footer align="center" style="bottom: 0; margin-top: 20px;">
            <small>All Rights Reserved 2014-{% now "Y" %}</small>
    </footer>
    <!-- footer end -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
