﻿{% extends "base.html" %}
{% block navbar_css %}
{% block content_css %}
{% endblock %}
<style>
    html {
        height: 100%;
    }
    body {
        min-height: 100%;
        position: relative;
        padding-bottom: 74px;
        padding-top: 74px;
    }
    
    /*------for notes------*/

    
    /* -----for navbar----- */
    .navbar {
        background: #FFF8DC;
    }
    /* -----for footer----- */
    #site_footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 74px;
        color: #999;
    }
    #site_footer .container {
        padding-bottom: 10px;
    }
    #site_footer .container .footer_text {
        padding-top: 18px;
        color: black;
        font-size: 15px;
    }
    #site_footer p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    #site_navbar .container a {
        font-size: 15px;
        color: black;
        background: #FFEC8B;
    }
    #site_navbar .container li.active a {
        background: #FFC125;
    }
</style>
{% endblock navbar_css %}
{% block navbar %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1><font face="微软雅黑" color="#8B008B"><a href="/activity" title="home">
                    ❤Party Master
                    </a>
                    </font>
                </h1>
                <p>
                    有事就贴出来吧
                </p>
                <div class="container">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'partymaster:logout' %}" style="margin:1em 1em 1em 1em;" class="btn btn-danger pull-right">Logout</a>
                    {% else %}
                        <a href="{% url 'partymaster:logme' %}" style="margin:1em 1em 1em 1em;" class="btn btn-danger pull-right">LogIn/SignIn</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="nav nav-pills">
                <li class="active">
                     <a href="/">首页</a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                     <a href="/activity/my?t=1">我的订阅</a>
                </li>
                <li>
                     <a href="/activity/my?t=2">我的发布</a>
                </li>
                <li>
                    <a href="/activity/my?t=3">发布新活动</a>
                </li>
                {% endif %}
            </ul>
            <div align="center"><p>按标签分类：</p>
             <span class="label label-success"><a href="/activity/?tag=academic">学术</a></span>
             <span class="label label-success"><a href="/activity/?tag=social">社交</a></span>
             <span class="label label-success"><a href="/activity/?tag=work">工作</a></span>
             <span class="label label-info"><a href="/activity">所有活动</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock navbar %}


